{% load static %}


<link href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendors/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'vendors/fontawesome/all.min.css' %}" rel="stylesheet" />
<!-- Toastr -->
<link rel="stylesheet" href="{% static 'vendors/toastr/toastr.min.css' %}" />
<!-- main app css -->
<link rel="stylesheet" href="{% static 'user-panel/css/style.css' %}" />

<!-- Custom Styles -->
<link rel="stylesheet" href="{% static 'css/custom.css' %}" />

<!-- head scripts -->
<!-- JQuery -->
<script src="{% static 'vendors/JQuery/jquery-3.6.0.min.js' %}"></script>

<!-- Toastr -->
<script src="{% static 'vendors/toastr/toastr.min.js' %}"></script>
<script src="{% static 'vendors/toastr/toastr.config.js' %}"></script>