{% extends "user-panel/base.html" %}

{% load static %}

{% block content %}


<div class="fw-bold middle-text py-5">
    <p class="text-center">
        ~ All solutions for international marriage ~
    </p>
    <p class="text-center">
        Women have experience and knowledge in international marriage
    </p>
    <p class="text-center">
        Furthermore, a site for sharing foreign husbands' croakers, etc.
    </p>
</div>
<div class="section-3 py-4 pe-4 ps-5 ms-0 row w-100">
    <div class="col-md-9">
        <div class="row">
            {% for thread in thread_list %}
            <div class="col-md-4 text-center">
                <a href="{% url 'thread_post_list' slug=thread.slug %}" class="text-decoration-none">
                    <img 
                    src="{% if thread.image %}{{ thread.image.url }}{% else %}{% static 'assets/images/no-image.png' %}{% endif %}"
                        alt="{{ thread.title }}" class="img-fluid thread-image-list">
                    <p>{{ thread.title }}</p>
                </a>
            </div>
            {% empty %}
            <div class="alert alert-info text-center" role="alert">
                No thread found!
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-3">
        <img src="/static/user-panel/image/ad-1.png" alt="ad" class="img-fluid">
    </div>
</div>
<div class="section-4 text-center my-5">
    <img src="/static/user-panel/image/ad-2.png" alt="ad" class="img-fluid">
</div>
<div class="section-5 d-flex justify-content-center">
    <div class="col-md-7">
        <div class="text-center py-4">
            <h3 class="color-fe80c4">Frequently Asked Questions</h3>
        </div>
        {% for faq in faq_list %}
        <div class="accordion m-2" id="accordionExample">
            <div class="accordion-item py-2">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accordion_faq_{{ forloop.counter }}" aria-expanded="true" aria-controls="accordion_faq_{{ forloop.counter }}">
                        {{ faq.question_title }}
                    </button>
                </h2>
                <div id="accordion_faq_{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="m-0">
                            {{ faq.answer|safe|linebreaks }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="text-center pt-5">
            <h3 class="color-fe80c4">Do you still have questions?</h3>
            <p class="pt-2 color-cccccc">Please post your problem. You will get an answer soon.</p>
        </div>
    </div>
</div>

{% endblock %}