{% extends 'user-panel/base-2.html' %}

{% block content %}

<!-- Start Price
    	============================================= -->
<div class="price-area de-pb">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <div class="site-title text-center">
                    <h2>Package Subscription</h2>
                </div>
            </div>
        </div>
        <div class="price-wpr grid-3">
            <div class="price-box">
                <div class="price-up">
                    <h2>100</h2>
                    <span>points</span>
                </div>
                <div class="price-middle">
                    <h2>1500¥</h2>
                </div>
                <div class="price-bottom">
                    <a href="#" class="price-btn">Buy</a>
                </div>
            </div>
            <div class="price-box">
                <div class="price-up">
                    <h2>300</h2>
                    <span>points</span>
                </div>
                <div class="price-middle">
                    <h2>2000¥</h2>
                </div>
                <div class="price-bottom">
                    <a href="#" class="price-btn">Buy</a>
                </div>
            </div>
            <div class="price-box">
                <div class="price-up">
                    <h2>500</h2>
                    <span>points</span>
                </div>
                <div class="price-middle">
                    <h2>2500¥</h2>
                </div>
                <div class="price-bottom">
                    <a href="#" class="price-btn">Buy</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Start Price-->

<!-- Start Price
    	============================================= -->
<div class="price-area de-pb">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <div class="site-title text-center">
                    <h2>Monthly Subscription</h2>
                </div>
            </div>
        </div>
        <div class="price-wpr grid-3">
            <div class="price-box1">

            </div>
            <div class="price-box">
                <div class="price-up">
                    <h2>1</h2>
                    <span>Month</span>
                </div>
                <div class="price-middle">
                    <h2>5000¥</h2>
                </div>
                <div class="price-bottom">
                    <a href="#" class="price-btn">Buy</a>
                </div>
            </div>
            <div class="price-box2">

            </div>
        </div>
    </div>
</div>
<!-- Start Price-->

{% endblock %}