{% extends "user-panel/base-second.html" %}

{% load static custom_tags %}

{% block content_second %}

<div class="card border-top-0 border-rounded shadow-sm">
    <div class="card-body">
        <form method="POST" action="{% url 'create_post' %}" enctype='multipart/form-data'>
            {% csrf_token %}
            <input type="hidden" name="thread-slug" value="{{ active_thread.slug }}">
            <div class="row">
                <div class="col-md-2 text-center">
                    {% if request.user.image %}
                    <img src="{{ request.user.image.url }}" alt="" height="60" width="60">
                    {% else %}
                    <img src="{% static 'user-panel/image/human-1.png' %}" alt="" height="60" width="60">
                    {% endif %}
                </div>
                <div class="col-md-10 my-auto">
                    <input type="text" name="title" class="form-control form-thread mb-2" placeholder="title" required>
                    <textarea name="summary" class="form-control form-thread my-2" rows="1"
                        placeholder="summary" required></textarea>
                    <textarea name="description" class="form-control form-thread" rows="3"
                        placeholder="description" required></textarea>
                    <!-- <input type="textarea" name="post-description" class="form-control form-thread" -->
                        <!-- placeholder="what's happening?"> -->
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-2"></div>
                <div class="col-md-8 py-2">
                    <p class="m-0">
                        <!-- <i class="fas fa-images"></i>
                        <span class="color-959eae pe-5">Upload image</span> -->

                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <span class="btn-file btn btn-post text-white">
                                <i class="fas fa-images"></i>
                                <span class="fileupload-new">
                                    Select file
                                </span>
                                <span class="fileupload-exists">Change</span>
                                <input type="file" name="image" />
                            </span>
                            <span class="fileupload-preview"></span>
                            <a href="#" class="close fileupload-exists" data-dismiss="fileupload"
                                style="float: none">×</a>
                        </div>
                    </p>
                </div>
                <div class="col-md-2 text-right">
                    <button type="submit" class="btn btn-info btn-post text-white">Post</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- post list -->
{% for post in post_list %}

<div class="card border-top-0 border-rounded shadow-sm mt-4">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2 text-center">
                {% if post.user.image %}
                <a href="{% url 'user_profile_detail' slug=post.user.slug %}">
                    <img src="{{ post.user.image.url }}" alt="" height="60" width="60">
                </a>
                {% else %}
                <a href="{% url 'user_profile_detail' slug=post.user.slug %}">
                    <img src="{% static 'user-panel/image/human-1.png' %}" alt="" height="60" width="60">
                </a>
                {% endif %}
            </div>
            <div class="col-md-8 my-auto">
                <a href="{% url 'user_profile_detail' slug=post.user.slug %}" class="text-deco-none">
                    <h4 class="color-fe80c4 mb-0">{{ post.user.get_dynamic_username|truncatechars:17 }}</h4>
                </a>
                <small class="color-959eae">{{ post.created_at }}</small>
            </div>
            {% if post.is_premium %}
            <div class="col-md-2 text-end text-warning fs-3">
                <span class="fs-5">{{ post.get_point_required }}</span>
                <i class="fas fa-star"></i>
            </div>
            {% endif %}
        </div>
        <div class="row mt-4 px-3">
            <h4 class="fw-bold">{{ post.title|truncatechars_html:20 }}</h4>
            <p class="">
                <span class="fw-bold">Summary: </span> {{ post.summary }}
            </p>
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="p-4" height="300" width="300">
            {% endif %}
            <p class="color-7b7b7b">

                {{ post.description|truncate_fifty_percent_word|safe }}

                <!-- post_details_free -->
                <a href="{% url 'post_details_free' slug=post.slug %}" class="text-primary">Read More</a>
                
                {% comment %}
                <form method="POST" action="{% url 'post_details' slug=post.slug %}">
                    {% csrf_token %}
                    <input name='read_more' type="hidden" , value="read_more">
                    <button type="submit" class="astext">
                        <u class="text-primary">Read more</u>
                    </button>
                </form>
                {% endcomment %}
            </p>
        </div>
        <div class="row mt-2 mx-1 comment-row py-2 text-center">
            <a href="{% url 'post_details_free' slug=post.slug %}">Show Comments</a>
        </div>
        <form method="POST" action="{% url 'post_details' slug=post.slug %}" enctype="multipart/form-data"
            class="row py-2">
            <div class="col-md-2 text-center">
                {% if request.user.image %}
                <img src="{{ request.user.image.url }}" alt="" height="40" width="40">
                {% else %}
                <img src="{% static 'user-panel/image/human-1.png' %}" alt="" height="40" width="40">
                {% endif %}
            </div>
            {% csrf_token %}
            <div class="col-md-7 my-auto">
                <input type="text" name="comment" class="form-control form-thread" placeholder="Write a comment ...." required>
            </div>
            <div class="col-md-3 text-center my-auto">
                <button type="submit" class="btn btn-info btn-post text-white">comment</button>
            </div>
        </form>
    </div>
</div>


{% comment %}

<div class="card border-top-0 border-rounded shadow-sm mt-4 disable">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2 text-center">
                <img src="/static/user-panel/image/human-2.png" alt="">
            </div>
            <div class="col-md-8 my-auto">
                <h4 class="color-fe80c4 mb-0">{{ post.user.get_dynamic_username|truncatechars:17 }}</h4>
                <small class="color-959eae">{{ post.created_at }}</small>
            </div>
            <div class="col-md-2 text-end color-959eae fs-3"><i class="fas fa-ellipsis-h"></i></div>
        </div>
        <div class="row mt-4 px-3">
            <p class="color-7b7b7b">
                {{ post.description|truncate_fifty_percent_word|safe }}
            </p>
        </div>
        <div class="row mt-2 py-2">
            <p class="text-white text-center fs-4 m-0">Please login to see this post.</p>
        </div>
        <div class="row py-2">
            <p class="text-center">
                <button class="btn btn-info text-white py-1 px-4">Signup</button>
            </p>
        </div>
    </div>
</div>

{% endcomment %}

{% empty %}
<div class="card border-top-0 border-rounded shadow-sm mt-4">
    <div class="card-body">
        <div class="alert alert-info text-center" role="alert">
            No posts available!
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}

{% block additional_scripts  %}

<script>
    !(function (e) {
        var t = function (t, n) {
            (this.$element = e(t)),
            (this.type =
                this.$element.data("uploadtype") ||
                (this.$element.find(".thumbnail").length > 0 ? "image" : "file")),
            (this.$input = this.$element.find(":file"));
            if (this.$input.length === 0) return;
            (this.name = this.$input.attr("name") || n.name),
            (this.$hidden = this.$element.find(
                'input[type=hidden][name="' + this.name + '"]'
            )),
            this.$hidden.length === 0 &&
                ((this.$hidden = e('<input type="hidden" />')),
                    this.$element.prepend(this.$hidden)),
                (this.$preview = this.$element.find(".fileupload-preview"));
            var r = this.$preview.css("height");
            this.$preview.css("display") != "inline" &&
                r != "0px" &&
                r != "none" &&
                this.$preview.css("line-height", r),
                (this.original = {
                    exists: this.$element.hasClass("fileupload-exists"),
                    preview: this.$preview.html(),
                    hiddenVal: this.$hidden.val()
                }),
                (this.$remove = this.$element.find('[data-dismiss="fileupload"]')),
                this.$element
                .find('[data-trigger="fileupload"]')
                .on("click.fileupload", e.proxy(this.trigger, this)),
                this.listen();
        };
        (t.prototype = {
            listen: function () {
                this.$input.on("change.fileupload", e.proxy(this.change, this)),
                    e(this.$input[0].form).on(
                        "reset.fileupload",
                        e.proxy(this.reset, this)
                    ),
                    this.$remove &&
                    this.$remove.on("click.fileupload", e.proxy(this.clear, this));
            },
            change: function (e, t) {
                if (t === "clear") return;
                var n =
                    e.target.files !== undefined ?
                    e.target.files[0] :
                    e.target.value ? {
                        name: e.target.value.replace(/^.+\\/, "")
                    } :
                    null;
                if (!n) {
                    this.clear();
                    return;
                }
                this.$hidden.val(""),
                    this.$hidden.attr("name", ""),
                    this.$input.attr("name", this.name);
                if (
                    this.type === "image" &&
                    this.$preview.length > 0 &&
                    (typeof n.type != "undefined" ?
                        n.type.match("image.*") :
                        n.name.match(/\.(gif|png|jpe?g)$/i)) &&
                    typeof FileReader != "undefined"
                ) {
                    var r = new FileReader(),
                        i = this.$preview,
                        s = this.$element;
                    (r.onload = function (e) {
                        i.html(
                                '<img src="' +
                                e.target.result +
                                '" ' +
                                (i.css("max-height") != "none" ?
                                    ' style="max-height: ' + i.css(" max-height") + ';"' : "") + " />"),
                            s.addClass("fileupload-exists").removeClass("fileupload-new");
                    }), r.readAsDataURL(n);
                } else
                    this.$preview.text(n.name), this.$element.addClass("fileupload-exists").removeClass(
                        "fileupload-new");
            },
            clear: function (e) {
                this.$hidden.val(""), this.$hidden.attr("name", this.name), this.$input.attr("name", "");
                if (navigator.userAgent.match(/msie/i)) {
                    var t = this.$input.clone(!0);
                    this.$input.after(t),
                        this.$input.remove(), (this.$input = t);
                } else this.$input.val("");
                this.$preview.html(""), this.$element
                    .addClass("fileupload-new").removeClass("fileupload-exists"), e && (this.$input.trigger(
                            "change", ["clear"]),
                        e.preventDefault());
            },
            reset: function (e) {
                this.clear(), this.$hidden.val(this.original.hiddenVal),
                    this.$preview.html(this.original.preview), this.original.exists ? this.$element
                    .addClass("fileupload-exists")
                    .removeClass("fileupload-new") : this.$element.addClass("fileupload-new").removeClass(
                        "fileupload-exists");
            },
            trigger: function (e) {
                this.$input.trigger("click"), e.preventDefault();
            }
        }), (e.fn.fileupload = function (n) {
            return this.each(function () {
                var r = e(this),
                    i = r.data("fileupload");
                i || r.data("fileupload", (i = new t(this,
                    n))), typeof n == "string" && i[n]();
            });
        }), (e.fn.fileupload.Constructor = t),
        e(document).on("click.fileupload.data-api", '[data-provides="fileupload"]', function (t) {
            var n = e(this);
            if (n.data("fileupload")) return;
            n.fileupload(n.data());
            var
                r = e(t.target).closest('[data-dismiss="fileupload"],[data-trigger="fileupload"]');
            r.length > 0 &&
                (r.trigger("click.fileupload"), t.preventDefault());
        });
    })(window.jQuery);
</script>
{% endblock %}