{% extends "user-panel/base-second.html" %}

{% load custom_tags %}

{% block content_second %}

<!-- post details -->


<div class="card border-top-0 border-rounded shadow-sm mt-4">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2 text-center">
                <img src="/static/user-panel/image/human-2.png" alt="">
            </div>
            <div class="col-md-8 my-auto">
                <h4 class="color-fe80c4 mb-0">{{ post.user.get_dynamic_username|truncatechars:17 }}</h4>
                <small class="color-959eae">{{ post.created_at }}</small>
            </div>
            {% if post.is_premium %}
            <div class="col-md-2 text-end text-warning fs-3">
                <i class="fas fa-star"></i>
            </div>
            {% endif %}
        </div>
        <div class="row mt-4 px-3">
            <p class="color-7b7b7b">
                {{ post.description|safe|linebreaks }}
            </p>
        </div>
        <div class="row mt-2 mx-1 comment-row py-2 text-center">
            <a href="#">Show Comments</a>
        </div>
        <div class="row py-2">
            <div class="col-md-2 text-center">
                <img src="/static/user-panel/image/human-1.png" alt="">
            </div>
            <div class="col-md-7 my-auto">
                <input type="text" class="form-control form-thread" placeholder="Write a comment ....">
            </div>
            <div class="col-md-3 text-center my-auto">
                <button class="btn btn-info btn-post text-white">comment</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block additional_scripts %}

<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>

{% endblock %}